<section>
    <!-- START Page content-->
    <section class="main-content">
        <div class="row">
        <form method="post" action="/addPlayer/{{this.playerName}}">
            <button type="submit" class="addbtn btn-labeled btn-primary pull-right">
               <span class="btn-label"><i class="fa fa-plus-circle"></i>
               </span>Add Player {{this.playerName}}
            </button>
        </form>    
        </div>
        <!-- START row-->
        <div class="row">
            <div class="col-lg-6">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">Player</div>
                    <div class="panel-body">
                        <h1></h1>

                        <h1>{{this.playerName}}</h1>
                         <br>
                        <h4 class="rank">Rank: </h4> 
                        <h4 class="rank2" id ="rank"></h4>

                    </div>
                </div>
                <!-- END panel-->
            </div>
            <div class="col-lg-6">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">Position</div>
                    <div class="panel-playerbody panel-body">
                        <h4 id ="position"></h4>
                    </div>
                </div>
                <!-- END panel-->
            </div>

            <div class="col-lg-6">
                <!-- START panel-->
                <div class="panel-margin panel panel-default">
                    <div class="panel-heading">Team</div>
                    <div class="panel-playerbody panel-body">
                        <h4 id ="team"></h4>
                    </div>
                </div>
                <!-- END panel-->
            </div>
        </div>

        <!-- Chart 1-->
        <div class="row">
            <div class="col-lg-6">
                <!-- START panel-->
                <div class="panel-charttop panel panel-default">
                    <div class="panel-heading"><h4>Touchdowns</h4></div>
                    <div class="panel-body">
                        <canvas id = "firstChart" height = "400" width = "400" ></canvas>
                    </div>
                </div>
                <!-- END panel-->
            </div>
            <!-- END Chart 1-->

            <!-- Chart 2-->
                <div class="col-lg-6">
                    <!-- START panel-->
                    <div class="panel-charttop panel panel-default">
                        <div class="panel-heading"><h4>Passing Rating</h4></div>
                        <div class="panel-body">
                            <canvas id = "secondChart" height = "400" width = "400"></canvas>
                        </div>
                    </div>
                    <!-- END panel-->
                </div>
        </div>
                <!-- END Chart 2-->


        <!-- Chart 3-->
        <div class="row">
            <div class="col-lg-6">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Yards Per Game</h4></div>
                    <div class="panel-body">
                        <canvas id = "thirdChart" height = "400" width = "400"></canvas>
                    </div>
                </div>
                <!-- END panel-->
            </div>
            <!-- END Chart 3-->

            <!-- Chart 4-->
            <div class="col-lg-6">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Interceptions</h4></div>
                    <div class="panel-body">
                        <canvas id = "fourthChart" height = "400" width = '400'></canvas>
                    </div>
                </div>
                <!-- END panel-->
            </div>
        </div>
        <!-- END Chart 4-->


        <!-- END Main section-->
    </section>

</section>

</section>


<style type="text/css">
    .btn {

    }
    #first {
        padding-left: 20px
    }
    #second, {
        width: 300px;
        padding-top: 0px;
    }
    #third {
        width: 190px;
        height: 10px;
    }
    #h2 {
        margin-top: 0px;
    }
    #table {
        background-color: #fff;
        padding: 10px;
        border: 2px solid #cbcbcb;
        box-shadow: 5px 5px 2px #cbcbcb;
    }
    #rank {
        font-size: 20px;
    }
    canvas {
        float: left;
        margin: 10px;
        padding: 5px;
    }
</style>

<!-- START Script for Chart.JS-->
<script>
    var data1 = [];
    var data2 = [];
    var data3 = [];
    var data4 = [];
    var label1;
    var label2;
    var label3;
    var label4;
        {{#each player}}

        $("#name").html("{{this.Player}}")
        $("#team").html("{{this.Team}}")
        $("#position").html("{{this.Position}}")
        $("#rank").html("{{this.Rank}}")
        if("{{this.Position}}" === "Wide Receiver"){
            data1.push({{this.TD}})
            data2.push({{this.Yards}})
            data3.push({{this.YPG}})
            data4.push({{this.Receptions}})
            var label1 = "Touch Downs";
            var label2 = "Total Receiving Yards";
            var label3 = "Yard Per Game";
            var label4 = "Receptions" ;
        }else if("{{this.Position}}" === "Quarterback"){
            data1.push({{this.TD}})
            data2.push({{this.PasserRating}})
            data3.push({{this.YPG}})
            data4.push({{this.Interception}})
            var label1 = "Touch Downs";
            var label2 = "Passer Rating";
            var label3 = "Yard Per Game";
            var label4 = "Interception" ;
        }else if("{{this.Position}}" === "Running Back"){
            data1.push({{this.TD}})
            data2.push({{this.YPG}})
            data3.push({{this.RushAttempts}})
            data4.push({{this.AvgYards}})
            var label1 = "Touch Downs";
            var label2 = "Yard Per Game";
            var label3 = "Rushing Attempts";
            var label4 = "Average Yards Per Carry" ;
        }
        {{/each}}
    console.log(data1);
    console.log(data2);
    console.log(data3);
    console.log(data4);
    new Chart(document.getElementById("firstChart"), {
        type: 'bar',
        data: {
            labels: ['2016','2015','2014'],
            datasets: [{
                data: data1,
                label: label1,
                backgroundColor: [

                'rgba(86, 185, 211, 0.6)', 
                'rgba(63, 151, 194, 0.5)',
                'rgba(51, 113, 170, 0.6)'
               ],
               borderColor: [
                'rgba(86, 185, 211, 1)',
                'rgba(63, 151, 194, 1)',
                'rgba(51, 113, 170, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: false,
            title: {
                display: true,
                text: 'Player Stats',
                fontSize: 12
            },
            scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                        fontSize: 15
                    }
                }],

                xAxes: [{
                    ticks: {
                        fontSize: 20
                    }
                }]
            }
        }
    });

    new Chart(document.getElementById("secondChart"), {
        type: 'bar',
        data: {
            labels: ['2016', '2015', '2014'],
            datasets: [{
                data: data2,
                label: label2,
                backgroundColor:[

                'rgba(176, 193, 160, 0.6)',
                'rgba(119, 154, 96, 0.5)',
                'rgba(51, 107, 20, 0.6)' 
               ],
               borderColor: [
                'rgba(176, 193, 160, 1)',
                'rgba(119, 154, 96, 1)',
                'rgba(51, 107, 20, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: false,
            title: {
                display: true,
                text: 'Player Stats',
                fontSize: 12
            },
            scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                        fontSize: 15

                    }
                }],
                xAxes: [{
                    ticks: {
                        fontSize: 20
                    }
                }]
            }
        }
    });

    new Chart(document.getElementById("thirdChart"), {
        type: 'bar',
        data: {
            labels: ['2016', '2015', '2014'],
            datasets: [{
                data: data3,
                label: label3,
                backgroundColor:[

                'rgba(45, 94, 158, 0.5)',
                'rgba(35, 85, 166, 0.5)',
                'rgba(17, 23, 70, 0.6)' 
               ],
               borderColor: [
                'rgba(45, 94, 158, 1)',
                'rgba(35, 85, 166, 1)',
                'rgba(17, 23, 70, 1)'
                ],
                borderWidth: 1  
                
            }]
        },
        options: {
            responsive: false,
            title: {
                display: true,
                text: 'Player Stats',
                fontSize: 12
            },
            scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                        fontSize: 15

                    }
                }],
                  xAxes: [{
                    ticks: {
                        fontSize: 20
                    }
                }]
            }
        }
    });

    new Chart(document.getElementById("fourthChart"), {
        type: 'bar',
        data: {
            labels: ['2016', '2015', '2014'],
            datasets: [{
                data: data4,
                label: label4,
                backgroundColor:[

                'rgba(196, 187, 240, 0.5)',
                'rgba(146, 127, 191, 0.5)',
                'rgba(79, 58, 119, 0.5)' 
               ],

         borderColor: [
                'rgba(196, 187, 240, 1)',
                'rgba(146, 127, 191, 1)',
                'rgba(79, 58, 119, 1)'
                ],
                borderWidth: 1
                // regular color code 
                /*'#c4bbf0', '#927fbf', '#4f3a77'*/
            }]
        },
        options: {
            responsive: false,
            title: {
                display: true,
                text: 'Player Stats',
                fontSize: 12
            },
            scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                        fontSize: 15

                    }
                }],
                xAxes: [{
                    ticks: {
                        fontSize: 20
                    }
                }]
            }
        }
    });
</script>
<!-- END Script for Chart.JS-->

