
<!-- <div class="window"> -->
	<!-- {{#each player}} -->
	<!-- <h1 id ="name"></h1>
	<h1 id ="team"></h1>
	<h1 id ="position"></h1>
	<h1 id ="rank"></h1>	 -->
	<!-- {{/each}} -->
	<!-- <hr>
	<canvas id = "myChart"></canvas> -->

<!-- <style type="text/css">


<section class="main-content">
	

	<!-- ROW 1 -->
	<div class="row">
		<!-- ROW 1 COL 1 -->
		<div class="col-md-6" id="first">
			<div data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget">
				
				<h2 id="name">{{#each player}} {{this.Player}} {{/each}}</h2>
			
				<h3 id="team"></h3>
				
			</div>
		</div>
		<!-- / ROW 1 COL 1 -->

		<!-- ROW 1 COL 2 -->
		<div class="col-md-6">
			<!-- ROW 1 COL 2 ROW 1 -->
			<div class="row">
				<div data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget">
					<h3 id="position"></h3>
				</div>
			</div>
			<!-- / ROW 1 COL 2 ROW 1 -->
			
			<!-- ROW 1 COL 2 ROW 2 -->
			<div class="row">
					<!-- ROW 1 COL 2 ROW 2 COL 1 -->
					<div class="col-md-6" id="second">
						<div data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget">
							<h4>Position rank:</h4> <text id="rank"></text>
						</div>
					</div>
					<!-- / ROW 1 COL 2 ROW 2 COL 1 -->

					<!-- ROW 1 COL 2 ROW 2 COL 2 -->
					<div class="col-md-6" id="third">
						
							<button type="button" class="btn btn-labeled btn-primary pull-right" data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget">
					           <span class="btn-label"><i class="fa fa-plus-circle"></i>
					           </span>Add Player <text id="name"></text>
							</button>
						
					</div>
					<!-- / ROW 1 COL 2 ROW 2 COL 2 -->
			</div>
			<!-- / ROW 1 COL 2 ROW 2 -->
		</div>
		<!-- ROW 1 COL 2 -->
	</div>
	<!-- / ROW 1 -->
	
	<!-- ROW 2 -->
	<div class="row">
		<div data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget" id="table">
			<canvas id = "myChart"></canvas>
		</div>
	</div>
	<!-- /ROW 2 -->


</section>

<style type="text/css">

.btn {
	
}

#first {
	padding-left: 20px
}

#second, {
	width: 300px;
	padding-top: 0px;
}

#third {
	width: 190px;
	height: 10px;
}

#h2 {
	margin-top: 0px;
}

#table {
	background-color: #fff;
	padding: 10px;
	border: 2px solid #cbcbcb;
	box-shadow: 5px 5px 2px #cbcbcb;
}

#rank {
	font-size: 20px;
}
</style>



<script>
	var data1 = [];
	var data2 = [];
	var data3 = [];
	var data4 = [];
	var label1;
	var label2;
	var label3;
	var label4;

{{#each player}}

console.log("{{this.Position}}");

	$("#name").html("{{this.Player}}")
	$("#team").html("{{this.Team}}")
	$("#position").html("{{this.Position}}")
	$("#rank").html("{{this.Rank}}")

if("{{this.Position}}" === "Wide Receiver"){
	data1.push({{this.TD}})
	data2.push({{this.Yards}})
	data3.push({{this.YPG}})
	data4.push({{this.Receptions}})
	var label1 = "Touch Downs";
	var label2 = "Total Receiving Yards";
	var label3 = "Yard Per Game";
	var label4 = "Receptions" ;

}else if("{{this.Position}}" === "Quarterback"){

	data1.push({{this.TD}})
	data2.push({{this.PasserRating}})
	data3.push({{this.YPG}})
	data4.push({{this.Interception}})
	var label1 = "Touch Downs";
	var label2 = "Passer Rating";
	var label3 = "Yard Per Game";
	var label4 = "Interception" ;

}else if("{{this.Position}}" === "Running Back"){
	data1.push({{this.TD}})
	data2.push({{this.YPG}})
	data3.push({{this.RushAttempts}})
	data4.push({{this.AvgYards}})
	var label1 = "Touch Downs";
	var label2 = "Yard Per Game";
	var label3 = "Rushing Attempts";
	var label4 = "Average Yards Per Carry" ;
}
{{/each}}
	console.log(data1);
	console.log(data2);
	console.log(data3);
	console.log(data4);

new Chart(document.getElementById("myChart"), {
  type: 'horizontalBar',
  data: {
    labels: ['2014', '2015', '2016'],
    datasets: [{ 
        data: data1,
        label: label1,
        backgroundColor: "#3e95cd",
        fill: false
      }, { 
        data: data2,
        label: label2,
        backgroundColor: "#8e5ea2",
        fill: false
      }, { 
        data: data3,
        label: label3,
        backgroundColor: "#3cba9f",
        fill: false
      }, { 
        data: data4,
        label: label4,
        backgroundColor: "#e8c3b9",
        fill: false
      }]
  },
  options: {
    title: {
      display: true,
      text: 'Player Stats Per Year (Last Three Years)'
    }
  }
});



	// var ctx = $("#myChart");


    /*var myChart = new Chart(ctx, {

        type: 'line',
        data: {
            labels: ["2014", "2015", "2016"],
            datasets: [{
                label: label1,
                backgroundColor: "blue",
                data: data1
            },
            {
                label: label2,
                backgroundColor: "red",
                data: data2
            },
            {
                label: label3,
                backgroundColor: "green",
                data: data3                        },
            {
                label: label4,
                backgroundColor: "yellow",
                data: data4
            },
            ]

        },
        options: {
            scales: {
                xAxes: [{
                    categorySpacing: 0
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });*/

</script>

	
