
<!--  {{rank.Position}}
 {{this.Position}} -->

<!-- {{#each rank}} -->
<!-- <h1>{{this.Player}}</h1> -->
<!-- <h1>{{this.Rank}}. {{this.Player}} {{this.Team}}</h1> -->
<!-- {{/each}}  -->

<!-- <div id="position">

</div> -->
 

<!-- {{#each position}}
{{this.Position}}
{{/each}} -->


<section>
    <!-- START Page content-->
    <section class="main-content" id = 'mainSection'>

    	<h2 class="position">{{this.pos}}</h2>
        <br>
    	<h3>Rankings:</h3>
        <h3>{{this.year}}</h3>


    	<!-- START Year Buttons -->
    	<div class="row">
    		<div class="col-sm-4">
        <form class="formranking formnew"  method="post" action="/position/{{this.pos}}/2014">
	        <input id="fourInput" type="hidden" name="year" value="2014">
    			<button class="btn btn-default" data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget button">
                    <strong>2014</strong>
    			</button>
        </form>  
    		</div>
    		<div class="col-sm-4">
        <form class="formranking formnew" method="post" action="/position/{{this.pos}}/2015">
	        <input id="fiveInput" type="hidden" name="year" value="2015">
    			<button class="btn btn-default" data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget button">
                    <strong>2015</strong>
    			</button>
        </form>  
    		</div>
    		<div class="col-sm-4">
        <form class="formranking formnew" method="post" action="/position/{{this.pos}}/2016">
	        <input id="sixInput" type="hidden" name="year" value="2016">
    			<button class="btn btn-default" data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget button">
                    <strong>2016</strong>
    			</button>
        </form>  
    		</div>
    	</div>
    	<!-- END Year Buttons -->
		
        <!-- START DATATABLE -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default" data-toggle="play-animation" data-play="fadeIn" data-offset="0" data-delay="500" class="panel widget" id="table">
                    <div class="panel-body">
                        <table id="datatable2" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="rankingname">Rank</th>
                                <th>Name</th>
                                <th>Team</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each rank}}
                            	<tr>
                            	<td>{{this.Rank}}</td>
                            	<td>{{this.Player}}</td>
                            	<td>{{this.Team}}</td>
                            	</tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END DATATABLE -->

    </section>
    <!-- END Page content-->
</section>

<!-- END Main section-->
</section>


<script>

if("{{this.pos}}" === "Please enter Running Back, Quarterback, or Wide Receiver") {
        //$('#mainSection').hide();
        $('#mainSection').replaceWith('<h1 id = "error">{{this.pos}}<h1>')
        $('#error').append('<hr>')
    }
{{#each rank}}

$("#position").html("{{this.Position}}");
$("#2014").html("");
$("#2015").html("");
$("#2016").html("");

{{/each}}

var position = $("#position").val();
console.log(position);
window.localStorage.setItem("position", position);


// console.log("Luis", $("#position").val());
	$("#fourBtn").on("click", function() {
		console.log($("#fourInput").val());
		position = $("#position").val();
	})

	$("#fiveBtn").on("click", function() {
		console.log($("#fiveInput").val());
		position = $("#position").val();
	})

	$("#sixBtn").on("click", function() {
		console.log($("#sixInput").val());
		position = $("#position").val();
	})

</script>

