<h1>Profile</h1>

<h1>{{this.name}}</h1>
<h1>{{this.favorite_players}}</h1>
<h1>{{this.favorite_teams}}</h1>




{{#each player}}
<h1>{{this.Player}}</h1>
<h1>Rank: {{this.Rank}}</h1>
<h1>{{this.Year}}</h1>

{{/each}}

<h1>{{this.Position}}</h1>
{{#each rank}}

<h1>{{this.Rank}}. {{this.Player}}</h1>

{{/each}}

