

<!--<div class="container"></div>-->

<!--<div class="row">-->
    <!--<div class="col-lg-12">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-collapse">-->
                <!--<div class="panel-body">-->
                    <!--<div class="chart-area flot-chart">-->
                        <!--<h1>Welcome {{this.name}}</h1>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<<<<<<< Updated upstream
<!--</div>-->
<!--</div>-->
=======
{{#each team}}
<h1>{{this.Team}}</h1>
<h1>{{this.Time}}</h1>
{{/each}}
>>>>>>> Stashed changes

<section class="main-content">
    <h3></h3>
    <!-- START row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

<<<<<<< Updated upstream
=======
{{!-- {{#each player}}
<h1>{{this.Player}}</h1>
<h1>Rank: {{this.Rank}}</h1>
<h1>{{this.Year}}</h1>

{{/each}}

<h1>{{this.Position}}</h1>
{{#each rank}}

<h1>{{this.Rank}}. {{this.Player}}</h1>

{{/each}} --}}


<!--<h1>Profile</h1>-->

<!--<h1>{{this.name}}</h1>-->
<!--<h1>{{this.favorite_players}}</h1>-->
<!--<h1>{{this.favorite_teams}}</h1>-->








<div class="container"></div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-collapse">
>>>>>>> Stashed changes
                <div class="panel-body">
                    <h3 class="pull-center">Welcome, {{this.name}}</h3>
                    <p>You're about to create your first fantasy team. Start by searching for team, player or position at the top.
                       </p>
                </div>
            </div>
        </div>
    </div>

<<<<<<< Updated upstream
=======
</div>
{{!-- </div> --}}

>>>>>>> Stashed changes

