<h1>Profile</h1>

<h1>{{this.name}}</h1>
<h1>{{this.favorite_players}}</h1>
<h1>{{this.favorite_teams}}</h1>


{{#each team}}
<h1>{{this.Team}}</h1>
<h1>{{this.Time}}</h1>

{{/each}}

{{#each player}}
<h1>{{this.Player}}</h1>
<h1>Rank: {{this.Rank}}</h1>
<h1>{{this.Year}}</h1>

{{/each}}

{{#each rank}}
<h1>{{this.Position}}</h1>
<h1>{{this.Player}}</h1>
<h1>{{this.Rank}}</h1>
{{/each}}

