<div class="window">
	{{#each team}}
	<h1>{{this.Team}}</h1>
	<h1>{{this.Time}}</h1>

	<h3>Touch Downs: {{this.TD}}</h3>
	<h3>Average Points Per Game: {{this.PPG}}</h3>
	<h3>Sacked: {{this.Sacked}}</h3>
	<h3>Total Fumbles: {{this.Fumbles}}</h3>
	<h3>Interceptions: {{this.Interceptions}}</h3>

	<hr>
	{{/each}}

</div>
<style type="text/css">
	.window {
		margin: 40px;
		margin-top: 180px;
	}
</style>