
<section class="main-content">
    <form method="post" action="/addTeam/{{this.teamName}}/">
        <button type="submit" class="btn btn-labeled btn-primary pull-right" onClick="window.location.reload();">
           <span class="btn-label"><i class="fa fa-plus-circle"></i>
           <input type="hidden" name="teamAdded" value="{{this.teamName}}">
           </span>Add Team {{this.teamName}}</button>
    </form>
    {{#each team}}
        <h2>{{update}}</h2>
        <h3>
            {{this.Time}}
        </h3>
        <!-- START Third Widgets-->
        <div class="row">
            <div class="col-md-3">
                <!-- START Touchdowns-->
                <div data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget">
                    <div class="panel-body">
                        <div class="text-right text-muted">
                            <em class="fa fa-users fa-2x"></em>
                        </div>
                        <p class="text-muted">Touchdowns</p>
                        <h3 class="mt0">{{this.TD}}</h3>
                        <div class="progress progress-striped progress-xs">
                            <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{this.TD}}%;" class="progress-bar progress-bar-success">
                                <span class="sr-only">10% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Touchdowns-->
            </div>
            <div class="col-md-3">
                <!-- START PPG-->
                <div data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget">
                    <div class="panel-body">
                        <div class="text-right text-muted">
                            <em class="fa fa-bar-chart-o fa-2x"></em>
                        </div>
                        <p class="text-muted">Average PPG</p>
                        <h3 class="mt0">{{this.PPG}}</h3>
                        <div class="progress progress-striped progress-xs">
                            <div role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{this.PPG}}%;" class="progress-bar progress-bar-info">
                                <span class="sr-only">40% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PPG-->
            </div>
            <div class="col-md-3">
                <!-- START Fumbles-->
                <div data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget">
                    <div class="panel-body">
                        <div class="text-right text-muted">
                            <em class="fa fa-trophy fa-2x"></em>
                        </div>
                        <p class="text-muted">Fumbles</p>
                        <h3 class="mt0">{{this.Fumbles}}</h3>
                        <div class="progress progress-striped progress-xs">
                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{this.Fumbles}}%;" class="progress-bar progress-bar-warning">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Fumbles-->
            </div>
            <div class="col-md-3">
                <!-- START Interceptions-->
                <div data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget">
                    <div class="panel-body">
                        <div class="text-right text-muted">
                            <em class="fa fa-trophy fa-2x"></em>
                        </div>
                        <p class="text-muted">Interceptions</p>
                        <h3 class="mt0">{{this.Interceptions}}</h3>
                        <div class="progress progress-striped progress-xs">
                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{this.Interceptions}}%;" class="progress-bar progress-bar-danger">
                                <span class="sr-only">10% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Interceptions-->
            </div>
        </div>
        <!-- END Third Widgets-->
        <!-- START chart-->
        
        <!-- END chart-->
        </div>
        <!-- END dashboard main content-->
        </div>
    {{/each}}

    <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-collapse">
                        <div class="panel-body">
                            <!-- <div style="height: 350px;" data-source="server/chart-data.php?type=area" class="chart-area flot-chart">< --> <canvas id = "teamChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
	
	
</div>
<style type="text/css">
	.window {
		margin: 40px;
		margin-top: 180px;
	}
</style>


<script>
// function refreshPage() {

// };

	var data1 = [];
	var data2 = [];
	var data3 = [];
	var data4 = [];
	var label1;
	var label2;
	var label3;
	var label4;

{{#each team}}

    data1.push({{this.TD}})
    data2.push({{this.PPG}})
    data3.push({{this.Fumbles}})
    data4.push({{this.Interceptions}})
    var label1 = "Touch Downs";
    var label2 = "Total Points Game Average";
    var label3 = "Sacks";
    var label4 = "Interceptions" ;

{{/each}}

// chart that shows team's stats 
new Chart(document.getElementById("teamChart"), {
  type: 'bar',
  data: {
    labels: ['2016', '2015', '2014'],
    datasets: [{ 
        backgroundColor: "#3984b6",
        fillColor: "rgba(151,249,190,0.5)",
        strokeColor: "rgba(255,255,255,1)",
        data: data1,
        label: label1
      }, { 
        data: data2,
        label: label2,
        backgroundColor: "#f3b355",
        fill: false
      }, { 
        data: data3,
        label: label3,
        backgroundColor: "#e8638b",
        fill: false
      }, { 
        data: data4,
        label: label4,
        backgroundColor: "#ffe0e6",
        fill: false
      }]
  },
  options: {
    title: {
      display: true,
      text: 'Team Stats (Last 3 Years)'
    },
     responsive: true,
            scales: {
            yAxes: [{
                display: true,
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 100
                }
            }]
        }
  }
});	
</script>


