
<section class="main-content">

    <form method="post" action="/addTeam/{{this.teamName}}/">
        <button type="submit" class="btn btn-labeled btn-primary pull-right" onClick="window.location.reload();">
           <span class="btn-label"><i class="fa fa-plus-circle"></i>
           <input type="hidden" name="teamAdded" value="{{this.teamName}}">
           </span>Add Team {{this.teamName}}</button>
    </form>
    <h1>{{this.teamName}}</h1>
    <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-collapse">
                        <div class="panel-body">
                             <canvas id = "teamChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>



<!--</section>-->


<style type="text/css">
	.window {
		margin: 40px;
		margin-top: 180px;
	}
</style>


<script>
// function refreshPage() {

// };

	var data1 = [];
	var data2 = [];
	var data3 = [];
	var data4 = [];
	var label1;
	var label2;
	var label3;
	var label4;

{{#each team}}

    data1.push({{this.TD}})
    data2.push({{this.PPG}})
    data3.push({{this.Fumbles}})
    data4.push({{this.Interceptions}})
    var label1 = "Touch Downs";
    var label2 = "Total Points Game Average";
    var label3 = "Sacks";
    var label4 = "Interceptions" ;

{{/each}}

// chart that shows team's stats 
new Chart(document.getElementById("teamChart"), {
  type: 'bar',
  data: {
    labels: ['2016', '2015', '2014'],
    datasets: [{ 
        backgroundColor: "#3984b6",
        fillColor: "rgba(151,249,190,0.5)",
        strokeColor: "rgba(255,255,255,1)",
        data: data1,
        label: label1
      }, { 
        data: data2,
        label: label2,
        backgroundColor: "#f3b355",
        fill: false
      }, { 
        data: data3,
        label: label3,
        backgroundColor: "#e8638b",
        fill: false
      }, { 
        data: data4,
        label: label4,
        backgroundColor: "#ffe0e6",
        fill: false
      }]
  },
  options: {
    title: {
      display: true,
      text: 'Team Stats (Last 3 Years)'
    },
     responsive: true,
            scales: {
            yAxes: [{
                display: true,
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 100
                }
            }]
        }
  }
});	
</script>


